@using SysUniPro.Models.ViewModels
@model StudentCoursevm

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Back To Home Page</a>


<link href="~/css/Form.css" rel="stylesheet" />
<div class="form-container">
    <form action="Register" method="post">

        <div class="form-group">
            <label for="Student">Student</label>
            
            <select id="Studentid" name="ID">
                @foreach (Student student in Model.students)
                {
                    <option value="@student.ID">@student.Name</option>
                }

            </select>
        </div>
        <div class="form-group">
            <label for="Course">Course</label>

            <select id="Courseid" name="CourseId">
                @foreach (Course course in Model.courses)
                {
                    <option value="@course.CourseId">@course.CourseName</option>
                }

            </select>
        </div>

        <div class="form-group">
            <button type="submit">Register</button>
        </div>
    </form>
</div>


