

<link href="~/css/Form.css" rel="stylesheet" />



<div class="form-container">
    <form action="AddDepartment" method="post">

        <div class="form-group">
            <label for="DepartmentName">Name</label>
            <input type="text" id="DepartmentName" name="DepartmentName" placeholder="Your Department Name..." required>
        </div>

        <div class="form-group">
            <label for="HeadofDepartment">Head of Department</label>
            <input type="text" id="HeadofDepartment" name="HeadofDepartment" placeholder="Head of Department..." required>
        </div>
     

        <div class="form-group">
            <button type="submit">Register</button>
        </div>
    </form>
</div>




